/* ---------- SECTION: PREVIEW ---------- */
#preview{
  width:400px;
}
#preview > div:not(.title){
  width:auto;
  position:absolute;
  left:13px;
  top:32px;
}
#preview #previewLayer0{
  left:93px;
}
#preview #previewLayer1{
  left:173px;
}
#preview #previewLayer2{
  left:253px;
}
#preview #previewLayer3{
  left:333px;
}
#preview > div > div{
  width:50px;
  height:50px;
  border:2px solid black;
}
#previewAll0, #previewAll1, #previewAll2, #previewAll3, #preview0, #preview1, #preview2, #preview3{
  position:absolute;
  top:40px;
  left:17px;
  -ms-transform:scale(2.5);
  -webkit-transform:scale(2.5);
  transform:scale(2.5);
}
