body{
  background-image:url(../img/bg/bg.jpg);
  padding:0px;
  margin:0px;
  font-family:"Arial Black", Gadget, sans-serif;
}
section{
  background-color:#ccc;
  border:2px solid black;
  border-radius:3px;
  overflow:hidden;
  position:absolute;
  z-index:0;
}
h4{
  margin:0px;
}
.pageTitle{
  position:relative;
  font-size:24px;
  font-weight:bold;
  color:white;
}
.title{
  height:18px;
  text-align:center;
  font-size:16px;
}
section.toprow{
  height:100px;
  position:relative;
  display:inline-block;
}
section.middlerow{
  height:400px;
  position:relative;
  display:inline-block;
}
section.bottomrow{
  height:240px;
  position:relative;
  display:inline-block;
  margin-right:399px;
}
#container{
  width:1000px;
  position:relative;
  margin:auto;
  margin-top:50px;
  z-index:0;
  text-align:center;
}

/* ---------- SECTION: PREVIEW ---------- */
section#preview{
  width:400px;
}
section#preview > div{
  position:relative;
  display:inline-block;
  margin:0px 8px;
}
section#preview > div > div{
  width:50px;
  height:50px;
  border:2px solid black;
}
section#preview > div > div > div{
  position:absolute;
  top:15px;
  left:15px;
  -ms-transform:scale(2.5);
  -webkit-transform:scale(2.5);
  transform:scale(2.5);
}

/* ---------- SECTION: TERRAIN ---------- */
#terrain{
  width:600px;
  font-size:0px;
}
.terrain{
  width:20px;
  height:20px;
  display:inline-block;
}
#layer0, #layer1, #layer2, #layer3{
  position:absolute;
}

/* ---------- SECTION: OPTIONS ---------- */
#options{
  width:191px;
  font-size:14px;
}
.grid{
  width:19px;
  height:19px;
  border-right:1px solid #000;
  border-bottom:1px solid #000;
}

/* ---------- SECTION: MAPDATA ---------- */
#mapData{
  width:387px;
}
#mapData input{
  background-color:#555;
  border:2px solid #222;
  color:white;
}
#mapData .coords{
  width:40px;
  border-radius:3px;
  text-align:center;
}
#mapData .button{
  width:80px;
  border-radius:18px;
}

/* ---------- SECTION: TILESETS ---------- */
#tilesets{
  width:387px;
  text-align:left;
}
.solid, .semi, .trans{
  margin:10px;
  text-align:left;
  font-size:0px;
}
.tileset{
  width:20px;
  height:20px;
  background-color:#000;
  display:inline-block;
  position:relative;
  margin:0px 1px 1px 0px;
  text-align:left;
}
#tilesets .tileset:hover{
  outline:1px solid black;
}

/* ----------- SECTION: CHANGELOG ----------- */
#changelog{
	width:600px;
    border:none;
    background-color:transparent;
    overflow:visible;
}

#changelogContainer{
	width:600px;
	height:240px;
    position:relative;
    padding:5px 9px;
    margin:-5px -7px;
	background:url("../images/changelogBackground.png") no-repeat center;
    z-index:2;
}

#changelogTableContainer{
    width:600px;
    height:240px;
    padding:0px 6px;
    margin:-6px 0px;
    overflow:hidden;
}

#changelogTable{
    border-collapse:collapse;
    padding:0px;
    width:588px;
    position:relative;
    font-size:14px;
}

#changelogTableHeader{
    table-layout:fixed;
    display:block;
}

#changelogTableBody{
    width:605px;
    height:201px;
    table-layout:fixed;
    display:block;
    overflow-y:scroll;
    overflow-x:hidden;
    padding-right:20px;
    font-size:12px;
    color:rgba(255,255,255,0.4);
}

#changelogTable th{
    height:35px;
    padding-left:2px;
    text-shadow:0px 0px 10px rgba(20,89,19,0.8);
}

#changelogTable th, #changelogTable td{
    padding:1px;
}

#changelogTable th:first-child div, #changelogTable td:first-child div{
    width:20px;
}

#changelogTable th:nth-child(2) div, #changelogTable td:nth-child(2) div{
    width:20px;
}

#changelogTable th:nth-child(3) div, #changelogTable td:nth-child(3) div{
    width:60px;
}

#changelogTable th:nth-child(4) div, #changelogTable td:nth-child(4) div{
    width:120px;
}

#changelogTable th:nth-child(5) div, #changelogTable td:nth-child(5) div{
    width:120px;
}

#changelogTable th:nth-child(6) div, #changelogTable td:nth-child(6) div{
    width:229px;
}

#changelogTable th:nth-child(7) div, #changelogTable td:nth-child(7) div{
    width:229px;
}

#changelogTable tbody{
    border-left:1px solid rgba(0,0,0,0.25);
    font-size:12px;
    font-family:"Courier New", Courier, monospace;
}

#changelogTable tbody tr td{
    border-right:1px solid rgba(0,0,0,0.25);
    overflow:hidden;
}

#changelogTable tbody tr:nth-child(even){
    background-color:rgba(50,50,50,0.25);
}

#changelogTable tbody tr:nth-child(odd){
    background-color:rgba(90,90,90,0.25);
}

/* ----------- SECTION: CHANGELOG OPTIONS ----------- */
#changelogOptions{
	width:179px;
	height:209px;
	position:absolute;
	left:443px;
	top:33px;
    background:url("../images/slideOutMenu.png") no-repeat center;
	transition: left 0.35s ease-out;
	-webkit-transition: left 0.35s ease-out;
}

#changelogOptions.translate{
	left:603px;
}

#changelogOptionsOpen{
    width:58px;
    height:209px;
    position:absolute;
    left:140px;
    background:url("../images/slideOut.png") no-repeat center;
}

#changelogOptions .toggle{
	width:20px;
    height:30px;
	position:absolute;
}

#changelogOptions .toggle.left{
    top:90px;
    left:1px;
    background:url("../images/slideOutClose_normal.png") no-repeat center;
}

#changelogOptions .toggle.left:hover{
    background:url("../images/slideOutClose_scroll.png") no-repeat center;
}

#changelogOptions .toggle.right{
    top:93px;
    left:171px;
    background:url("../images/slideOutOpen_normal.png") no-repeat center;
    z-index:10;
    transition: left,opacity 0.35s ease-out;
	-webkit-transition: left,opacity 0.35s ease-out;
}

#changelogOptions .toggle.right:hover{
    background:url("../images/slideOutOpen_scroll.png") no-repeat center;
}

#changelogOptions .toggle.right.hidden{
	opacity:0.0;
}

#changelogOptionsContent{
    margin: 35px 0px 34px 35px;
}

#changelogOptionsContent p{
    margin:-1px 0px;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    font-weight:bold;
    color:black;
    text-shadow:0px 0px 10px rgba(20,89,19,0.8);
}

#changelogOptionsContent input{
    margin-right:5px;
}
