body {
    padding: 0;
    margin: 0;
    background-color:#FFF;
    width:100%;
    background-image: url(./img/bg/bg.jpg), url(.img/bg/bg_repeat.jpg);
    background-repeat: repeat-x, repeat;
}

#game{
    border:3px solid #000;
    overflow:hidden;
    position:relative;
    background-image:url(img/grass.jpg);
    background-repeat:repeat;
    width:800px;
    height:600px;
    margin:auto;
    margin-top:120px;
}

.sprite{
  width:16px;
  height:16px;
}

.standf{background:url('img/zsprite.png') 0 0;}
.standl{background:url('img/zsprite.png') -16px 0px;}
.standb{background:url('img/zsprite.png') -32px 0px;}
.standr{background:url('img/zsprite.png') -48px 0px;}

.walkf{background:url('img/zsprite.png') 0px -16px;}
.walkl{background:url('img/zsprite.png') -16px -16px;}
.walkb{background:url('img/zsprite.png') -32px -16px;}
.walkr{background:url('img/zsprite.png') -48px -16px;}

