body {
  padding: 0;
  margin: 0;
  background-color:#FFF;
  width:100%;
  background-image: url(./img/bg/bg.jpg);
}

#game{
  border:3px solid #000;
  border-radius:10px;
  overflow:hidden;
  position:relative;
  background-image:url(img/grass.jpg);
  background-repeat:repeat;
  width:300px;
  height:200px;
  margin:auto;
}

#wrapper {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

#header {
    min-height: 60px;
}

#main {
    margin: auto;
}

#footer {
    min-height: 60px;
}

.terrain {
}

.grass {
    background: url(./img/grass.jpg);
    background-repeat: no-repeat;
}

.boulder {
    background: url(./img/boulder.png);
    background-repeat: no-repeat;
}



.sprite.standS{background:url('img/zsprite.png')   0px 0px;height:16px; width:16px;}
.sprite.standW{background:url('img/zsprite.png') -16px 0px;height:16px; width:16px;}
.sprite.standN{background:url('img/zsprite.png') -32px 0px;height:16px; width:16px;}
.sprite.standE{background:url('img/zsprite.png') -48px 0px;height:16px; width:16px;}

.sprite.moveS{background:url('img/zsprite.png')   0px -16px;height:16px; width:16px;}
.sprite.moveW{background:url('img/zsprite.png') -16px -16px;height:16px; width:16px;}
.sprite.moveN{background:url('img/zsprite.png') -32px -16px;height:16px; width:16px;}
.sprite.moveE{background:url('img/zsprite.png') -48px -16px;height:16px; width:16px;}

.sprite.swordNW{background:url('img/zsprite.png')   0px -32px;height:32px; width: 32px;}
.sprite.swordN {background:url('img/zsprite.png') -32px -32px;height:32px; width: 16px;}
.sprite.swordNE{background:url('img/zsprite.png') -48px -32px;height:32px; width: 32px;}
.sprite.swordW {background:url('img/zsprite.png')   0px -64px;height:16px; width: 32px;}
.sprite.swordE {background:url('img/zsprite.png') -48px -64px;height:16px; width: 32px;}
.sprite.swordSW{background:url('img/zsprite.png')   0px -80px;height:32px; width: 32px;}
.sprite.swordS {background:url('img/zsprite.png') -32px -80px;height:32px; width: 16px;}
.sprite.swordSE{background:url('img/zsprite.png') -48px -80px;height:32px; width: 32px;}
