body {
  padding: 0;
  margin: 0;
  background-color:#FFF;
  width:100%;
  background-image: url(./img/bg/bg.jpg);
}

#game{
  border:3px solid #000;
  border-radius:10px;
  overflow:hidden;
  position:relative;
  width:600px;
  height:400px;
  margin:auto;
  z-index:20;
}
#gamebg{
  border:3px solid #000;
  border-radius:10px;
  overflow:hidden;
  position:relative;
  background-image:url(img/grass.jpg);
  background-repeat:repeat;
  top:-406px;
  width:600px;
  height:400px;
  margin:auto;
  z-index:10;
}

#wrapper {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

#header {
    min-height: 60px;
}

#main {
    margin: auto;
}

#footer {
    min-height: 60px;
}

.terrain {
}

.grass {
    background: url(./img/grass.jpg);
    background-repeat: no-repeat;
}

.boulder {
    background: url(./img/boulder.png);
    background-repeat: no-repeat;
}



.sprite.standS{background:url('img/zsprite.png')   0px 0px;height:48px; width:48px;}
.sprite.standW{background:url('img/zsprite.png') -48px 0px;height:48px; width:48px;}
.sprite.standN{background:url('img/zsprite.png') -96px 0px;height:48px; width:48px;}
.sprite.standE{background:url('img/zsprite.png') -144px 0px;height:48px; width:48px;}

.sprite.moveS{background:url('img/zsprite.png')   0px -48px;height:48px; width:48px;}
.sprite.moveW{background:url('img/zsprite.png') -48px -48px;height:48px; width:48px;}
.sprite.moveN{background:url('img/zsprite.png') -96px -48px;height:48px; width:48px;}
.sprite.moveE{background:url('img/zsprite.png') -144px -48px;height:48px; width:48px;}

.sprite.swordNW{background:url('img/zsprite.png')   0px -96px;height:48px; width: 48px;}
.sprite.swordN {background:url('img/zsprite.png') -48px -96px;height:48px; width: 48px;}
.sprite.swordNE{background:url('img/zsprite.png') -96px -96px;height:48px; width: 48px;}
.sprite.swordW {background:url('img/zsprite.png')   0px -144px;height:48px; width: 48px;}
.sprite.swordE {background:url('img/zsprite.png') -96px -144px;height:48px; width: 48px;}
.sprite.swordSW{background:url('img/zsprite.png')   0px -192px;height:48px; width: 48px;}
.sprite.swordS {background:url('img/zsprite.png') -48px -192px;height:48px; width: 48px;}
.sprite.swordSE{background:url('img/zsprite.png') -96px -192px;height:48px; width: 48px;}

.sprite2.standS{background:url('img/zsprite2.png')   0px 0px;height:60px; width:60px;}
.sprite2.standW{background:url('img/zsprite2.png') -60px 0px;height:60px; width:60px;}
.sprite2.standN{background:url('img/zsprite2.png') -120px 0px;height:60px; width:60px;}
.sprite2.standE{background:url('img/zsprite2.png') -180px 0px;height:60px; width:60px;}

.sprite2.moveS{background:url('img/zsprite2.png')   0px -60px;height:60px; width:60px;}
.sprite2.moveW{background:url('img/zsprite2.png') -60px -60px;height:60px; width:60px;}
.sprite2.moveN{background:url('img/zsprite2.png') -120px -60px;height:60px; width:60px;}
.sprite2.moveE{background:url('img/zsprite2.png') -180px -60px;height:60px; width:60px;}

.sprite2.swordNW{background:url('img/zsprite2.png')   0px -120px;height:60px; width: 60px;}
.sprite2.swordN {background:url('img/zsprite2.png') -60px -120px;height:60px; width: 60px;}
.sprite2.swordNE{background:url('img/zsprite2.png') -120px -120px;height:60px; width: 60px;}
.sprite2.swordW {background:url('img/zsprite2.png')   0px -180px;height:60px; width: 60px;}
.sprite2.swordE {background:url('img/zsprite2.png') -120px -180px;height:60px; width: 60px;}
.sprite2.swordSW{background:url('img/zsprite2.png')   0px -240px;height:60px; width: 60px;}
.sprite2.swordS {background:url('img/zsprite2.png') -60px -240px;height:60px; width: 60px;}
.sprite2.swordSE{background:url('img/zsprite2.png') -120px -240px;height:60px; width: 60px;}

