body {
    font-weight:bold;
    font-family:monospace;
    margin:0px;
    padding:0px;
}

header {
    width:inherit;
    text-align:center;
    font-size:22px;
    margin:10px 0px;
}

#container {
    width:320px;
    margin:0 auto;
    background-color:dimgray;
    border-radius:12px;
    padding:12px;
}

#formType select {
    width:100%;
    border:2px solid black;
    background-color:silver;
    border-radius:6px;
    font-weight:bold;
    font-family:monospace;
    outline:none;
    text-shadow: 0px 0px 0px rgba(0,0,0,1.0);
}

#formType select:focus {
    background-color:grey;
    box-shadow:0px 10px 12px -8px rgba(0,0,0,1.0);
}

.hidden {
    display:none;
}

.subheader {
	background-color:#222;
	border-radius:6px;
    text-align:center;
	margin:15px 0px 5px 0px;
	font-size:14px;
}

.subsection > div {
	display:inline-block;
}

.opaque {
	color:rgba(0,0,0,0.5);
}

input[type=text], input[type=number], input[type=button]{
    border-radius:6px;
    background-color:silver;
    border-color:black;
    font-weight:bold;
    text-align:center;
    outline:none;
    vertical-align:middle;
    margin:2px 0px;
}

input:hover {
    cursor:pointer;
    background-color:grey;
}

input[type=text] {
    width:120px;
}

input[type=number] {
    width:44px;
    font-weight:bold;
    text-align:center;
}

input[type=button] {
    width:22px;
    border:2px solid black;
    margin:0px 5px;

}
